
.header{
    background-color: white;
    padding: 10px 10px;
}

.header a {
    color: black;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
  
.header a.logo {
    margin-top: 0.5%;
    float:inline-start;
    margin-left: 2%;
    margin-bottom: 0;
}



